In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from imblearn.over_sampling import SMOTE

In [7]:
# Step 1: Load the dataset
data = pd.read_csv(r'C:\Users\91991\Downloads\Creditcard_data.csv')

In [33]:
data.head()
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772 entries, 0 to 771
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    772 non-null    int64
 1   V1      772 non-null    float64
 2   V2      772 non-null    float64
 3   V3      772 non-null    float64
 4   V4      772 non-null    float64
 5   V5      772 non-null    float64
 6   V6      772 non-null    float64
 7   V7      772 non-null    float64
 8   V8      772 non-null    float64
 9   V9      772 non-null    float64
 10  V10     772 non-null    float64
 11  V11     772 non-null    float64
 12  V12     772 non-null    float64
 13  V13     772 non-null    float64
 14  V14     772 non-null    float64
 15  V15     772 non-null    float64
 16  V16     772 non-null    float64
 17  V17     772 non-null    float64
 18  V18     772 non-null    float64
 19  V19     772 non-null    float64
 20  V20     772 non-null    float64
 21  V21     772 non-null    float64
 22  V22     772 non-null    float64
 23  V23     772 non-null    float64
 24  V24     772 non-null    float64
 25  V25     772 non-null    float64
 26  V26     772 non-null    float64
 27  V27     772 non-null    float64
 28  V28     772 non-null    float64
 29  Amount  772 non-null    float64
 30  Class   772 non-null    int64
dtypes: float64(29), int64(2)
memory usage: 187.1 KB

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,...,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000,772.000000
mean,283.005181,-0.176963,0.217169,0.875172,0.285628,-0.005029,0.159081,0.123329,-0.057547,-0.030384,...,0.004888,-0.096995,-0.040344,-0.002501,0.114337,0.022782,0.023353,-0.017045,68.668290,0.011658
std,171.834196,1.294724,1.173401,1.031878,1.258758,1.098143,1.225682,0.852075,0.830144,0.878183,...,0.609335,0.607228,0.358724,0.621507,0.429667,0.484227,0.300934,0.278332,197.838269,0.107411
min,0.000000,-6.093248,-12.114213,-5.694973,-4.657545,-6.631951,-3.498447,-4.925568,-7.494658,-2.770089,...,-4.134608,-2.776923,-3.553381,-1.867208,-1.389079,-1.243924,-2.377933,-2.735623,0.000000,0.000000
25%,126.500000,-0.896416,-0.174684,0.308677,-0.460058,-0.534567,-0.630717,-0.296289,-0.167880,-0.517068,...,-0.213746,-0.525289,-0.176915,-0.379766,-0.166227,-0.313631,-0.047868,-0.033083,5.987500,0.000000
50%,282.000000,-0.382618,0.285843,0.905435,0.395919,-0.116612,-0.109581,0.116329,0.034755,-0.082270,...,-0.075802,-0.076551,-0.048353,0.091886,0.143723,-0.026414,0.023199,0.021034,16.665000,0.000000
75%,432.000000,1.110739,0.885745,1.532969,1.117559,0.452818,0.482972,0.575390,0.252395,0.412261,...,0.095149,0.307438,0.070085,0.426339,0.425798,0.260408,0.112199,0.087023,55.527500,0.000000
max,581.000000,1.586093,5.267376,3.772857,4.075817,7.672544,5.122103,4.808426,2.134599,5.459274,...,5.273420,1.574750,3.150413,1.215279,1.136720,3.087444,2.490503,1.575380,3828.040000,1.000000

In [8]:
# Step 2: Data Exploration
print("Dataset preview:")
print(data.head())
print("\nClass distribution before balancing:")
print(data['Class'].value_counts())

Dataset preview:
   Time        V1        V2        V3        V4        V5        V6        V7  \
0     0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388  0.239599
1     0  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361 -0.078803
2     1 -1.358354 -1.340163  1.773209  0.379780 -0.503198  1.800499  0.791461
3     1 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  1.247203  0.237609
4     2 -1.158233  0.877737  1.548718  0.403034 -0.407193  0.095921  0.592941

         V8        V9  ...       V21       V22       V23       V24       V25  \
0  0.098698  0.363787  ... -0.018307  0.277838 -0.110474  0.066928  0.128539
1  0.085102 -0.255425  ... -0.225775 -0.638672  0.101288 -0.339846  0.167170
2  0.247676 -1.514654  ...  0.247998  0.771679  0.909412 -0.689281 -0.327642
3  0.377436 -1.387024  ... -0.108300  0.005274 -0.190321 -1.175575  0.647376
4 -0.270533  0.817739  ... -0.009431  0.798278 -0.137458  0.141267 -0.206010

        V26       V27       V28  Amount  Class
0 -0.189115  0.133558 -0.021053  149.62      0
1  0.125895 -0.008983  0.014724    2.69      1
2 -0.139097 -0.055353 -0.059752  378.66      0
3 -0.221929  0.062723  0.061458  123.50      0
4  0.502292  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

Class distribution before balancing:
Class
0    763
1      9
Name: count, dtype: int64

In [34]:
missing_values = data.isnull().sum()
print("Missing Values in Each Column:")
print(missing_values)

Missing Values in Each Column:
Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
# Step 3: Balance the dataset using SMOTE
X = data.drop('Class', axis=1)
y = data['Class']
smote = SMOTE(random_state=42)
X_balanced, y_balanced = smote.fit_resample(X, y)

print("\nClass distribution after balancing:")
print(pd.Series(y_balanced).value_counts())

Class distribution after balancing:
Class
0    763
1    763
Name: count, dtype: int64

In [10]:
# Step 4: Define sample size formula (example: 10% of the dataset)
SAMPLE_SIZE = int(0.1 * len(X_balanced))

In [15]:
# Step 5: Create samples using different sampling techniques
samples = {}
np.random.seed(42)  # For reproducibility

In [17]:
samples['Random'] = (
    X_balanced.sample(SAMPLE_SIZE, random_state=42),  # Ensure reproducibility
    y_balanced.loc[X_balanced.sample(SAMPLE_SIZE, random_state=42).index]
)

In [23]:
# Sampling Technique 2: Stratified Sampling
stratified_indices = (
    y_balanced
    .groupby(y_balanced)  # Group by unique values of y_balanced
    .apply(lambda x: x.sample(n=int(SAMPLE_SIZE / y_balanced.nunique()), random_state=42))
    .index.get_level_values(1)  # Extract the original indices after grouping
)
samples['Stratified'] = (
    X_balanced.loc[stratified_indices], 
    y_balanced.loc[stratified_indices]
)

In [24]:
# Sampling Technique 3: Systematic Sampling
step = max(1, len(X_balanced) // SAMPLE_SIZE)  # Avoid step = 0 if SAMPLE_SIZE > len(X_balanced)
systematic_indices = list(range(0, len(X_balanced), step))[:SAMPLE_SIZE]
samples['Systematic'] = (
    X_balanced.iloc[systematic_indices], 
    y_balanced.iloc[systematic_indices]
)

In [25]:
# Sampling Technique 4: Cluster Sampling
clusters = pd.qcut(X_balanced['Amount'], q=5, labels=False, duplicates='drop')  # Handle duplicate bins
cluster_0_indices = X_balanced.index[clusters == 0]  # Indices of cluster 0
clustered_indices = cluster_0_indices[:min(SAMPLE_SIZE, len(cluster_0_indices))]  # Adjust if cluster size is smaller
samples['Cluster'] = (
    X_balanced.loc[clustered_indices], 
    y_balanced.loc[clustered_indices]
)

In [26]:
# Sampling Technique 5: Oversampling a specific class
oversample_class_indices = y_balanced[y_balanced == 1].sample(
    n=SAMPLE_SIZE, replace=True, random_state=42
).index  # Oversample with replacement
samples['Oversampled'] = (
    X_balanced.loc[oversample_class_indices], 
    y_balanced.loc[oversample_class_indices]
)

In [28]:
# Step 6: Train models and evaluate accuracy
models = {
    'Random Forest': RandomForestClassifier(random_state=42),
    'Logistic Regression': LogisticRegression(max_iter=500, random_state=42),
    'SVM': SVC(random_state=42),
    'Decision Tree': DecisionTreeClassifier(random_state=42),
    'KNN': KNeighborsClassifier()
}

In [30]:
results = pd.DataFrame(columns=['Model', 'Sampling Technique', 'Accuracy'])

for technique, (X_sample, y_sample) in samples.items():
    try:
        X_train, X_test, y_train, y_test = train_test_split(X_sample, y_sample, test_size=0.3, random_state=42, stratify=y_sample)
        for model_name, model in models.items():
            try:
                model.fit(X_train, y_train)
                y_pred = model.predict(X_test)
                acc = accuracy_score(y_test, y_pred)
                results = pd.concat([results, pd.DataFrame([[model_name, technique, acc]], columns=['Model', 'Sampling Technique', 'Accuracy'])], ignore_index=True)
            except ValueError as e:
                print(f"Model {model_name} failed for sampling technique {technique} due to: {e}")
            except Exception as e:
                print(f"Unexpected error with {model_name} and {technique}: {e}")
    except ValueError as e:
        print(f"Train-test split failed for sampling technique {technique} due to: {e}")
    except Exception as e:
        print(f"Unexpected error during sampling {technique}: {e}")

print("Accuracy Results:")
print(results)
results.to_csv('sampling_results.csv', index=False)

C:\Users\91991\AppData\Local\Temp\ipykernel_17844\4264241126.py:11: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  results = pd.concat([results, pd.DataFrame([[model_name, technique, acc]], columns=['Model', 'Sampling Technique', 'Accuracy'])], ignore_index=True)
C:\Users\91991\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\91991\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Model Logistic Regression failed for sampling technique Oversampled due to: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 1
Model SVM failed for sampling technique Oversampled due to: The number of classes has to be greater than one; got 1 class
Accuracy Results:
                  Model Sampling Technique  Accuracy
0         Random Forest             Random  0.891304
1   Logistic Regression             Random  0.869565
2                   SVM             Random  0.652174
3         Decision Tree             Random  0.847826
4                   KNN             Random  0.630435
5         Random Forest         Stratified  0.956522
6   Logistic Regression         Stratified  0.869565
7                   SVM         Stratified  0.673913
8         Decision Tree         Stratified  0.869565
9                   KNN         Stratified  0.673913
10        Random Forest         Systematic  0.934783
11  Logistic Regression         Systematic  0.804348
12                  SVM         Systematic  0.608696
13        Decision Tree         Systematic  0.869565
14                  KNN         Systematic  0.630435
15        Random Forest            Cluster  1.000000
16  Logistic Regression            Cluster  0.978261
17                  SVM            Cluster  0.630435
18        Decision Tree            Cluster  1.000000
19                  KNN            Cluster  0.804348
20        Random Forest        Oversampled  1.000000
21        Decision Tree        Oversampled  1.000000
22                  KNN        Oversampled  1.000000

In [31]:
# Step 7: Results
print("\nAccuracy Results:")
print(results)

# Save results to CSV
results.to_csv('sampling_results.csv', index=False)

# Step 8: Identify best sampling technique for each model
best_results = results.loc[results.groupby('Model')['Accuracy'].idxmax()]
print("\nBest Sampling Technique for Each Model:")
print(best_results)

Accuracy Results:
                  Model Sampling Technique  Accuracy
0         Random Forest             Random  0.891304
1   Logistic Regression             Random  0.869565
2                   SVM             Random  0.652174
3         Decision Tree             Random  0.847826
4                   KNN             Random  0.630435
5         Random Forest         Stratified  0.956522
6   Logistic Regression         Stratified  0.869565
7                   SVM         Stratified  0.673913
8         Decision Tree         Stratified  0.869565
9                   KNN         Stratified  0.673913
10        Random Forest         Systematic  0.934783
11  Logistic Regression         Systematic  0.804348
12                  SVM         Systematic  0.608696
13        Decision Tree         Systematic  0.869565
14                  KNN         Systematic  0.630435
15        Random Forest            Cluster  1.000000
16  Logistic Regression            Cluster  0.978261
17                  SVM            Cluster  0.630435
18        Decision Tree            Cluster  1.000000
19                  KNN            Cluster  0.804348
20        Random Forest        Oversampled  1.000000
21        Decision Tree        Oversampled  1.000000
22                  KNN        Oversampled  1.000000

Best Sampling Technique for Each Model:
                  Model Sampling Technique  Accuracy
18        Decision Tree            Cluster  1.000000
22                  KNN        Oversampled  1.000000
16  Logistic Regression            Cluster  0.978261
15        Random Forest            Cluster  1.000000
7                   SVM         Stratified  0.673913